#CHRIS' FILES TO IGNORE SINCE THEY ARE FULL OF HUGE DATA
ConData
ROMS_chris
release_settlement
output
Con_df
cuke_future


Connectivity_between_MPA_Sarah
Connectivity_between_MPA_Stephen

Bias_release

#BC Connectivity project ignore files
BC_output
BC_StudyExtent

cuke_present
output_keep_future

#Annoying updates
*.Rhistory
.Rproj.user
*.RData
