#CHRIS' FILES TO IGNORE SINCE THEY ARE FULL OF HUGE DATA
ConData
ROMS_chris
zROMS_chris
release_settlement
Bias_release
output

Con_df
cuke_present
cuke_future

output_keep_future
output_keep_future_AllPLD

Marxan
Marxan_future
Marxan_future_AllPLD

Connectivity_between_MPA_Sarah
Connectivity_between_MPA_Stephen

Thesis_Figures

#BC Connectivity project ignore files
BC_output
BC_StudyExtent



#Annoying updates
*.Rhistory
.Rproj.user
*.RData
zROMS_chris.zip
